.engage-blue {
	background: $rally-engage-blue;
	box-shadow: inset 0 0 10px 0 rgba(32, 48, 111, 0.82);
	@include media-breakpoint-up(sm) {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	p {
		font-family: 'noway';
		color: #e5f8f5;
		font-size: 18px;
		text-align: center;
		font-weight: 200;
		@include media-breakpoint-up(sm) {
			font-size: 20px;
		}
		@include media-breakpoint-up(md) {
			font-size: 24px;
		}
	}
	img {
		display: block;
		width: 60%;
		margin-bottom: 10px;
		margin-top: 10px;

		@include media-breakpoint-up(sm) {
			padding-bottom: 10px;
			border-bottom: 1px solid rgba(255,255,255,0.1);
		}
		@include media-breakpoint-up(md) {
			padding-bottom: 0px;
			margin-bottom: 0px;
			border-bottom: none;
		}
		@include media-breakpoint-up(lg) {
			width: 50%;
		}
	}
	.lg-top {
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}
	.lg-bottom {
		padding-top: 20px;
	}
	.light-bg {
		background: rgba(255,255,255,0.05);
	}
}
